@using System.Diagnostics.CodeAnalysis
@inject NavigationManager Navigation

<PageTitle>Adicionar nova cidade</PageTitle>

<EditForm Model="@Model" OnValidSubmit="AddCityAsync">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label class="form-label">ID</label>
        <InputNumber id="Id" type="number" class="form-control" @bind-Value="Model.Id"/>
        <ValidationMessage For="@(() => Model.Id)" />
    </div>

    <div class="mb-3">
        <label class="form-label">UF</label>
        <InputText id="UF" type="text" class="form-control" @bind-Value="Model.State"/>
        <ValidationMessage For="@(() => Model.State)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <InputText id="CityName" type="text" class="form-control" @bind-Value="Model.City"/>
        <ValidationMessage For="@(() => Model.City)" />
    </div>

    <div class="mb-3">
        <label class="form-label">TokenApi</label>
        <InputText id="CityName" type="text" class="form-control" placeholder="Bearer..." @bind-Value="ApiAuthentication"/>
        <ValidationMessage For="@(() => ApiAuthentication)" />
    </div>

    <button class="btn btn-success" type="submit">
        SAVE
    </button>
</EditForm>

<br/>

@if (sucess == true)
{
    <div class="alert alert-success" role="alert" >
        Registro adicionado com sucesso!
    </div>
}

@if (sucess == false)
{
    <div class="alert alert-danger" role="alert">
        Algo deu errado!
    </div>
}

@code {
    private CityModel Model { get; set; } = new();
    private string ApiAuthentication = String.Empty;
    private bool? sucess = null;

    public async Task AddCityAsync()
    {
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.PostNewCity}")
            .AddHeader("Authorization",
                ApiAuthentication
                )
            .AddJsonBody(Model);

        try
        {
            var city = await client.PostAsync(request);
            if (city.IsSuccessStatusCode)
            {
                sucess = true;
                Model.City = String.Empty;
                Model.State = String.Empty;
                Model.Id = 0;
            }
        }
        catch
        {
            sucess = false;
        }
    }
}
